// btn

.btn {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.4rem;
  border: 0;
  background: $white;

  font-size: 1em;

  cursor: pointer;

  @include transition(.15s ease);

  &:hover,
  &:focus {

  }
}
