RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?a=$1

Options +FollowSymlinks
rewritecond %{http_host} ^acpms.com.br [NC]
rewriterule ^(.*)$ http://www.acpms.com.br/$1 [r=301,NC]
