// footer

.footer {
  cursor: default;

  padding: 2rem 0;

  color: lighten($black, 40%);
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
}

.footer__link {
  text-decoration: none;
}


.footer__small {
  font-size: 1em;
}


.footer__author {
  margin-top: 1rem;
}


@include media($screen-md) {
  .footer {

  }

  .footer__small {
    float: left;
  }

  .footer__author {
    float: right;
    margin: 0;
  }
}
